/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
/*  font-size: 16pt;*/
}

body {
  height: 100%;
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: .5em solid #333;
  border-bottom: .1em solid #e8e8e8;
  min-height: 5.6em;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 2.6em;
  letter-spacing: -1px;
  float: left;
  line-height: 5.6em;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 5.6em;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 2em;
  color: #727272;
  letter-spacing: -.5px;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 3em 0;
}

.footer-heading {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 1.5em;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 1.5em;
  letter-spacing: -.3px;
  color: #828282;
}

.twitter-icon-svg {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  position: relative;
  top: .3em;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 3em 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 2.4em;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 4.2em;
  letter-spacing: -.02em;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 1.5em;
  color: #818181;
  margin-top: .5em;
}

.post-content {
  margin: 0 0 3em;
  font-size: 1.5em;
}

.post-content > * { margin: 2em 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 4em 0 2em;
}

.post-content h2 {
  font-size: 3.2em;
  letter-spacing: -.125em;
}

.post-content h3 {
  font-size: 2.6em;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 2em;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: .4em solid #e8e8e8;
  padding-left: 2em;
  font-size: 1.8em;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 3em 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: .8em 1.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* media queries */
/* ----------------------------------------------------------*/
/*
 Skeleton base
*/


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .wrap { padding: 0 1.2em; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 1.4em; right: .8em;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }


  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 3.6em; }
  .post-content h2 { font-size: 2.8em; }
  .post-content h3 { font-size: 2.2em; }
  .post-content h4 { font-size: 1.8em; }
  .post-content blockquote { padding-left: 1em; }
  .post-content ul,
  .post-content ol { padding-left: 1em; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 1.em; }

  .site-nav .menu-icon {
    display: block;
    color: #505050;
    float: right;
    width: 3.6em;
    height: 3.6em;
/*    line-height: 3.6em;
*/    text-align: center;
  }

  .site-nav .menu-icon svg { width: 2em; height: 2em; }

}


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

