/* Base */
/* ----------------------------------------------------------*/

body {
  font-size: 62.5%; /*a font-size of 1em is now  = 10px*/
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: black;
  overflow-x: hidden;
}

article {
  font-size: 1.6em;
}
section {
  margin-bottom: 20px;
}
a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}
dt{
  font-size: 1.2em;
  padding: .5em 0;
}
li, dd{
  margin-left: 1.5em;
  margin-bottom: 1em;
  display: table;
}

li::first-line, dd::first-line{
  margin-left: -1.5em;
}
li:nth-child(4n+1)::before, dd:nth-child(4n+1)::before{
  content: "♥ ";
  color: red;
}
li:nth-child(4n+2)::before, dd:nth-child(4n+2)::before{
  content: "♣ ";
}
li:nth-child(4n+3)::before, dd:nth-child(4n+3)::before{
  content: "♦ ";
  color: red;
}
li:nth-child(4n+4)::before, dd:nth-child(4n+4)::before{
  content: "♠ ";
}
/* Layout Styles
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: .5em solid #797979;
  border-bottom: .5em solid #797979;
  min-height: 5.6em;
  background-color: #191615;
  color: white;
}
/*This makes the top header fixed */
/*.site-header {
    width: 100%;
    min-height: 6.5em;
    height: auto;
    z-index: 5;
    position: relative;
}
.site-header > div.container{
  width: 100%;
  border-top: .5em solid #333;
  border-bottom: .5em solid #333;
  min-height: 5.6em;
  background-color: #191615;
  color: white;
  position: fixed;
}*/
.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  font-size: 2.6em;
  line-height: 2em;
  letter-spacing: -1px;
  float: left;
  position: relative;
  z-index: 1;
  color: white;
}

.site-nav {
  float: right;
  line-height: 2.5em;
  font-size: 2em;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-right: 1em;
  color: #727272;
}
.site-nav .menu {
  float: right;
}

/* Site footer */

.site-footer {
  background-color: #191615;
  color: white;
  padding: 2em 3em;
  background: -moz-linear-gradient(top, #000000 -1%, #45484d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 -1%,#45484d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 -1%,#45484d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 -1%,#45484d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #000000 -1%,#45484d 100%); /* W3C */
}

.footer-heading {
  font-size: 1.8em;
  line-height: 1.8em;
  letter-spacing: -.5px;
  color: white;
}

.site-footer ul {
  width: 100%;
}

.site-footer li {
  white-space: nowrap;
  display: inline;
  font-size: 1.8em;
}
.footer{
  text-align: center;
  width: 100%;
}

#developed-by {

}
#copyright {
}

/* Not currently used*/
.twitter-icon-svg {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  position: relative;
  top: .3em;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 3em 0;
  color: black;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 30px solid #E0AC0D;
  border-top: none;

  /* poker-table green gradient background*/
  background: #07930a; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #07930a 0%, #001a00 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#07930a), color-stop(100%,#001a00)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #07930a 0%,#001a00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #07930a 0%,#001a00 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #07930a 0%,#001a00 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #07930a 0%,#001a00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07930a', endColorstr='#001a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* Home (index.html) styles */
/* ----------------------------------------------------------*/

p.home {
  font-size: 1em;
}

.home h1 { margin-bottom: 20px; padding-left: 5%;}
.home {
  padding: 0 1em;
}

#banner{
  width: 100%;
  height: 450px;
  font-size: 2em;
  background-color: rgb(0,0,0);
  color: white;
  border-bottom: 5px solid #797979;

  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, #2F2B2B 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2F2B2B), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,#2F2B2B 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,#2F2B2B 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,#2F2B2B 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,#2F2B2B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2F2B2B',GradientType=0 ); /* IE6-9 */
}

#banner h2 {
  color: white;
}

.hero-image {
  display: block;
  position: absolute;
  right: 5%;
  top: 15%;
}
#banner-text {
  width: 300px;
  text-align: center;
  position: absolute;
  right: 65%;
  top: 20%;
}
.posts .post-link {
  font-size: 2.4em;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  color: #818181;
}
article{
  font-size: 1.4em;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 3.5em;
  letter-spacing: -.02em;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 1.5em;
  color: #818181;
  margin-top: .5em;
}

/* Card Styling */
/* ----------------------------------------------------------*/
.card,
.single-post-card  {
  border-radius: 17px;
  border: 2px solid black;
  background-color: white;
  z-index: 0;
}

.card {
  display: inline-block; /*switch to float if cant get this working*/
  position: relative;
  width: 21em;
  height: 31em;
  vertical-align: top;
  padding: 2em;
  margin: 1em;
  box-shadow: 5px 5px 5px black;
  overflow: hidden;
}

.card article {
  /*This stops large title words from running off the cards*/
  overflow: hidden;
  height:100%;
  width:100%;
  /* This fades the text but only works in webkit browsers */
  /* Note: work on cross-browser compatibility */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Drop all headlines down one size, so h1 -> h2 */
.card h1{ font-size: 35px; line-height: 40px; margin-bottom: 10px; }
.card h2 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
.card h3 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }

/*larger card for individual posts*/
.single-post-card {
  display: block;
  height: auto;
  padding: 4em;
  margin: 0 3em;
}

.card-header{
  width: 100%;
  left: -5%;
  position: relative;
  margin-bottom: 1em;
  float: left;
}
/* Suit on corner of card */
.card:nth-child(4n+1) .suit{
  background: url(/images/cards/suits/card_color_2.png);
}
.card:nth-child(4n+2) .suit{
  background: url(/images/cards/suits/card_color_1.png);
}
.card:nth-child(4n+3) .suit{
  background: url(/images/cards/suits/card_color_0.png);
}
.card:nth-child(4n+4) .suit{
  background: url(/images/cards/suits/card_color_3.png);
}

.suit{
  height:6.5em;
  width:6.5em;
  content: "";
  background-repeat: no-repeat;
  float: left;
  top: -5%;
  left:0%;
  position: relative;
  display: inline-block;
}

/* Suit background on card */
div.card:nth-child(4n+1)::after{
  background: url(/images/cards/card_color_mid_2.png);
}
div.card:nth-child(4n+2)::after{
  background: url(/images/cards/card_color_mid_1.png);
}
div.card:nth-child(4n+3)::after{
  background: url(/images/cards/card_color_mid_0.png);
}
div.card:nth-child(4n+4)::after{
  background: url(/images/cards/card_color_mid_3.png);
}

div.card:nth-child(n)::after {
  content: "";
  opacity: 0.5;
  height: 50%;
  width: 50%;
  top: 30%;
  left: 25%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

/*This enlarged background image so it looks like in-game card*/
/*div.card::after {
  content: "";
  opacity: 0.5;
  height: 85%;
  width: 110%;
  top: 13%;
  left: -10%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}*/

/* Video elements styles */

iframe {
  width: 100%;
  max-width: 440px;
  height: 330px;

}

/* media queries based on Skeleton */
/* ----------------------------------------------------------*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
#banner-text h2 {
  font-size: 170%;

}
#banner-text
{
  top: 20%;
  left: 2%;
  font-size: 80%;
}
.hero-image {
  top: 20%;
  width: 20em;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* Give more screen space to this on smaller screens */
  .single-post-card {
    padding: 4em 2em;
    margin: 0 1em;
  }
  #banner-text
  {
    width: 100%;
    position: static;
  }
  #banner-text p {
    margin-bottom: 10px;
  }

  .hero-image {
    position: static;
    margin: 1em auto 0 auto;
      width: 15em;

  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .wrap { padding: 0 1.2em; }

  .page-content {
    border-width: 20px;
  }

  .site-nav {
    position: fixed; /*not supported in some browsers*/
    z-index: 10;
    right: .8em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid #e8e8e8;
    float: right;
    background-color: rgba(0,0,0,0);
  }

  /* This overrides the skeleton width for eleven columns*/
  /* Otherwise menu button takes up too much room */
  .site-nav.eleven.columns {
    height: auto;
    width: auto;
  }

  .site-nav .menu-icon {
    display: block;
    color: #505050;
    float: right;
    width: 3.6em;
    height: 3.6em;
    margin: auto;
    line-height: 3.6em;
    text-align: center;
  }

  .site-nav .menu-icon svg {
    width: 2em;
    height: 2em;
  }

  .site-nav:hover,
  .site-nav:focus,
  .site-nav:hover div.menu,
  .site-nav:focus div.menu
  {
    display: block;
    background-color: rgba(255,255,255,1);
  }

  .menu {
    display: none;
    border-radius: 5px;
  }
  .menu:hover,
  .menu:focus,
  .menu-icon:focus + div.menu,
  .menu-icon:hover + div.menu {
    display: block;
    background-color: rgba(255,255,255,1);
  }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
  }

  .card{
    width: 30em;
    height: 40em;
  }

  .suit{
    zoom: 1.3;
  }

}


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

