<footer class="site-footer">

  <div class="footer">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <ul class="footer-menu">
      {% for page in site.pages %}
        {% if page.title %}<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
    <div class="bottom-info">
      <div id="developed-by" >{{ site.developed_by }}</div>
      <div id="copyright">{{ site.copyright }}</div>
      <a id="footer-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
  </div>

</footer>
